body {
  font-family: Inter, sans-serif;
}

body,
h1,
h2,
p,
a,
ul,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
}

.buttonAdd {
  color: #4973fa;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.buttonAdd:hover {
  color: #8da6f8;
}

.buttonAdd::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/addBnt.svg);
  margin-right: 8px;
}

@import "./styles/home.css";
@import "./styles/grupo.css";
@import "./styles/formularios.css";
@import "./styles/modal.css";
